@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nagarik";
  src: url(/assets/Nagarik.ttf) format("truetype");
}

@font-face {
  font-family: "Kokila";
  src: url(/assets/kokila.ttf) format("truetype");
}

[x-cloak] {
  display: none !important;
}
